.menu-responsivo .controla-menu { 
  width:100%; 
  float:left; 
  display:none; 
  padding: 0px;
}
.menu-responsivo{ 
  background-color:#575656; 
  width:100%; 
  float:left; 
  border-radius:3px; 
  overflow:hidden; 
  display: none;
}
.menu-responsivo .btn-mobile{ 
  width:100%;
  display:block;
  border-bottom:0;
  text-align:right;
  padding:10px; 
  line-height:35px;
  cursor:pointer; 
  color:#fff;
}
.menu-responsivo .btn-mobile i { 
  font-size:1.6em; 
  display:block;
  float:right; 
  width:35px; 
  height:35px; 
  background:transparent; 
  text-align:center; 
  line-height:40px; 
  margin-left:10px; 
  border-radius:50px;
}
.menu-responsivo ul { margin: 0 auto; list-style: none; }
.menu-responsivo li { width:100%;float:left;}
.menu-responsivo a { 
  
  width:100%; 
  float:left;
  padding:15px;
  color:#fff; 
  font-size:1em; 
  text-decoration:none;
  background:#575656;
  border-bottom:1px #646363 solid;
  margin-bottom:1px; 
}
.menu-responsivo a:hover { background:#2fcacf; }
.menu-responsivo .menu-ativo { 
  background-color:#2fcacf!important;
}
/*Entra no Responsivo*/
/*1000PX BREAKPOINT*/
@media (min-width: 200px) and (max-width: 1000px){
 .menu-responsivo{display: block;}
 .menu-responsivo .controla-menu { display:block; }
 .menu-responsivo .btn-mobile    { display:none; }
 .menu-responsivo li             { width:auto; }
 .menu-responsivo a              { border-bottom:0; }
}